services:
  - type: web
    name: ffmpeg-merge-api
    runtime: "node"
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: NODE_ENV
        value: production
